body {
    color:rgb(20, 214, 188) !important;
    background-color: rgb(41, 41, 46) !important;
    text-align: center; 
}

.ccenter{
    position: absolute !important;
    color:rgb(190, 18, 47) !important;
}
